.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

button {
  padding: 10px 20px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

button {
  padding: 10px 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap:50px;
  margin-right: 40px;
  margin-left: 40px;
}

.card {
  width: 300px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.card-image {
  height: 200px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 4px;
}

.header-toolbar {
  display: inline-flex;
  padding: 0 16px;
  flex-direction: row-reverse;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
}

.header-button {
  margin-left: 16px;
}

.header-link {
  color: white;
  text-decoration: none;
}
