h2 {
  border-bottom: 2px solid #727171;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 0px;
}

.accommodation-details {
  text-align: center;
  margin: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  height: 95%;
  overflow-y: auto;
}

h3 {
  text-align: start;
  margin-left: 35px;
}

.details {
  font-size: large;
  color: #353535;
  text-align: start;
  margin-left: 35px;
}

.details span {
  font-size: larger;
  color: #0e0e0e;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  background-color: #ebebeb;
  width: 100%;
  padding-top: 10px;
}

.image-gallery-item {
  width: 24vw;
  height: 45vh;
}


.benefits-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 15px;
  margin-left: 15px;
}

.book-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.book-button:hover {
  background-color: #0056b3;
}

.bottom-border {
  border-bottom: 1px solid #727171;
}
