<mat-toolbar color="primary">
  <span class="header-title" routerLink="/">Book accommodation</span>
  <div>
    <button
      *ngIf="this.authService.loggedIn && !this.authService.isGuest"
      mat-raised-button
      color="accent"
      routerLink="/accommodation"
    >
      Accommodations
    </button>
    <button
      *ngIf="!this.authService.loggedIn"
      mat-flat-button
      color="accent"
      (click)="authorize()"
    >
      Login
    </button>
    <button
      *ngIf="!this.authService.loggedIn"
      mat-raised-button
      color="accent"
      routerLink="/sign-up"
    >
      Register
    </button>
    <button
      *ngIf="this.authService.loggedIn"
      mat-raised-button
      color="accent"
      routerLink="/edit-profile"
    >
      Edit profile
    </button>
    <button
      *ngIf="this.authService.loggedIn"
      mat-raised-button
      color="accent"
      (click)="logOut()"
    >
      Logout
    </button>
  </div>
</mat-toolbar>
