<div class="custom-price-title"><h1>Custom prices</h1></div>

<table mat-table [dataSource]="customPrices" class="mat-elevation-z8">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">
      {{ element.id }}
    </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
  </ng-container>

  <!-- StartDate Column -->
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef>StartDate</th>
    <td mat-cell *matCellDef="let element">{{ element.startDate }}</td>
  </ng-container>

  <!-- EndDate Column -->
  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef>EndDate</th>
    <td mat-cell *matCellDef="let element">{{ element.endDate }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          (click)="this.display(element.id, 'Edit custom price')"
        >
          Edit
        </button>
        <button mat-menu-item (click)="this.delete(element.id)">Delete</button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<button class="createButton" mat-raised-button color="accent">+ Create</button>

<app-edit-price
  *ngIf="this.displayed === 'Edit custom price'"
  [id]="this.selectedId"
  [type]="this.displayed"
  (hideEvent)="handleHideEvent()"
  (successEvent)="handleEvent()"
></app-edit-price>
